body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Cambria', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #505764;
    height: 100vh;
}

main {
    height: 100vh;
    width: 100%;
}

.leftside {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 280px;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #adb3bd;
    opacity: 1;
    overflow-y: scroll;
    z-index: 99;
}

.rightside {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #505764;
    height: 100%;
    margin-left: 280px;
    min-width: calc(100% - 280px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px #505764;
    height: 200px;
    width: 200px;
    margin: 0 10px 20px 10px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
}

.card:hover {
    transform: scale(1.1);
    opacity: 1;
}

.card img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #d3d3d3;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #04AA6D;
    border-radius: 100vw;
} 

.left-col {
    padding: 20px;
    min-width: 260px;
    height: 100%;
}

.right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    height: 100vh;
    width: 100%;
}

.photo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 70px 10px;
    height: 100%;
    width: 100%;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
}

.filter-container .filter-row {
    width: 100%;
}

.filter-container .filter-row div {
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 7px;
    height: 5px;
    background: #d3d3d3;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

.inp-checkbox {
    height: 20px;
    width: 20px;
}

.photo-container .img {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
  }

.filter-container div label {
    margin: 10px;
}

.filter-container div span {
    margin: 10px;
}

.info {
    margin-bottom: 10px;
    padding: 5px 50px;
    border-radius: 10px;
    background: #adb3bd;
    width: 100%;
    height: 50px;
}

.pagination ul {
    position: relative;
    display: flex;
    padding: 15px;
}

.pagination ul li {
    position: relative;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    background-color: #adb3bd;
    border-radius: 50%;
    margin: 5px;
}

.pagination ul li.num {
    position: relative;
    height: 40px;
    width: 40px;
}

.pagination ul li.num span {
    position: absolute;
    width: 100%;
    right: 0;
    top: 10px;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.pagination ul li.btn i {
    position: absolute;
    width: 100%;
    right: 0;
    top: 5px;
    font-size: 24px;
}

.pagination ul li.active {
    background-color: #fff;
}

.pagination ul li.btn {
    height: 35px;
    width: 35px;
    margin-top: 8px;
}

@media (max-width: 800px) {
    .leftside {
        min-width: 120px;
    }
    .rightside {
        margin-left: 280px;
        min-width: calc(100% - 146px);
    }
    .left-col {
        min-width: 120px;
        height: 100%;
        padding: 10px;
    }
    .right-col {
        min-width: 100%;
        height: 100%;
    }
    .card {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        margin: 0 5px 10px 5px;
    }
    .card img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }
    .photo-container {
        height: 80%;
    }
}

@media (max-width: 600px) {
    main {
        height: 100%;
        width: 100%;
    }
    .leftside {
        top: auto;
        bottom: 0;
        max-height: 159px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .left-col {
        width: 100%;
    }
    .rightside {
        position: fixed;
        background-color: #505764;
        width: 100%;
        height: calc(100% - 159px);
    }
    .right-col {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .photo-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 70px 10px 70px 10px;
        height: 100%;
        width: 100%;
        gap: 40px;
    }
    #info {
        height: 50px;
    }
    .filter-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        color: #fff;
    }
    #cards {
        display: flex;
    }
    .card {
        margin: 10px;
        transition: 0.5s;
        opacity: 0.8;
    }
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 5px;
    }
    .filter-container div {
        width: 100%;
    }
    .filter-container {
        font-size: 12px;
    }
    .photo-container {
        padding: 0;
    }
    .slider {
        width: 100px;
    }
    .info {
        padding: 10px;
        font-size: 12px;
    }
    .pagination {
        margin-top: 20px;
    }
    .pagination ul {
        display: flex;
        padding: 0;
        margin: 0;
    }
    .pagination ul li {
        margin: 3px;
    }
    .pagination ul li.num {
        height: 35px;
        width: 35px;
    }
    .pagination ul li.num span {
        top: 7px;
        left: 0;
    }
    .pagination ul li.btn {
        height: 25px;
        width: 25px;
    }
    .pagination ul li.btn i {
        top: 4px;
        left: 0;
        font-size: 18px;
    }
}